.icon_search,
.icon_add {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	width: 30px;
	height: 30px;
}

.icon_search:before,
.icon_search:after,
.icon_add:before,
.icon_add:after {
	content: '';
	display: block;
	position: absolute;

}

.icon_search:before {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid #666;
	top: 8px;
	right: 15px;
}

.icon_search:after {
	width: 1px; 
	height: 5px;
	background-color: #666;
	-webkit-transform: rotate(-45deg);
	top:17px;
	right: 14px;
}

.icon_add:before {
	width: 14px;
	height: 3px;
	background-color: #428bca;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
}
.icon_add:after {
	width: 3px;
	height: 14px;
	background-color: #428bca;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);

}