.input_group {
	position: relative;
}

.input_group .input_box {
	width: 200px;
	height: 30px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.input_group .input_box:focus {
	width: 300px;
	box-shadow: 0 0 5px #1a83cb inset;
}

.input_group .icon_search {
	position: absolute;
	right: 0;
	top: 7px;
}